@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* Custom Quill editor styles */
.ql-container {
  font-family: inherit;
  font-size: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.ql-editor {
  min-height: 300px;
}

.ql-editor p {
  margin-bottom: 1rem;
}

.ql-editor h1, .ql-editor h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.ql-editor img {
  max-width: 100%;
  height: auto;
}

@layer utilities {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}